In [32]:
# import libraries
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [33]:
# set the url for the data
a_url = "https://data.cdc.gov/resource/uc9k-vc2j.json"
b_url = "https://chronicdata.cdc.gov/resource/jiwm-ppbh.json"

In [34]:
# set the parameters for the data
limit = 1000000
offset = 0 
params = {"$limit": limit, "$offset": offset}
# get the data
response_a = requests.get(a_url, params=params)
response_b = requests.get(b_url, params=params)
data = response_a.json()
data_b = response_b.json()

In [35]:
# convert the data to a dataframe
df = pd.DataFrame(data)
df

,locationid,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value_unit,data_value_type,...,stratificationcategory2,stratification2,stratificationcategory3,stratification3,topicid,x_long,y_lat,data_value,confidence_limit_low,confidence_limit_high
0,01001,2000,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.64295911,32.53530561,NaN,NaN,NaN
1,01001,2001,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.64295911,32.53530561,NaN,NaN,NaN
2,01001,2002,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.64295911,32.53530561,NaN,NaN,NaN
3,01001,2003,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.64295911,32.53530561,NaN,NaN,NaN
4,01001,2004,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.64295911,32.53530561,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,51053,2019,VA,Dinwiddie,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,Hispanic,Sex,Overall,T1,-77.63220543,37.0760146,NaN,NaN,NaN
999996,51053,2000-2010,VA,Dinwiddie,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,%,Total percent change,...,Race/EthnicityAge group,Hispanic,Sex,Overall,T1,-77.63220543,37.0760146,NaN,NaN,NaN
999997,51053,2010-2019,VA,Dinwiddie,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,%,Total percent change,...,Race/EthnicityAge group,Hispanic,Sex,Overall,T1,-77.63220543,37.0760146,NaN,NaN,NaN
999998,51053,2000,VA,Dinwiddie,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,Overall,Sex,Female,T1,-77.63220543,37.0760146,433.1,342.3,525.8
999999,51053,2001,VA,Dinwiddie,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Race/EthnicityAge group,Overall,Sex,Female,T1,-77.63220543,37.0760146,453,347.3,557.2

In [53]:
# convert the data to a dataframe
df_b = pd.DataFrame(data_b)
df_b

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,stratificationcategory1,stratification1,stratificationcategory2,stratification2,topicid,locationid,y_lat,x_lon,data_value_footnote_symbol,data_value_footnote
0,2019,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,182.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",Gender,Overall,Race/Ethnicity,Overall,T2,02013,55.442393334,-161.9599296,NaN,NaN
1,2019,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,172.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",Gender,Overall,Race/Ethnicity,Overall,T2,02016,53.648343064,-166.9175329,NaN,NaN
2,2019,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,255.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",Gender,Overall,Race/Ethnicity,Overall,T2,02020,61.159144533,-149.1045591,NaN,NaN
3,2019,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,343.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",Gender,Overall,Race/Ethnicity,Overall,T2,02050,60.923647647,-159.7532618,NaN,NaN
4,2019,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",Gender,Overall,Race/Ethnicity,Overall,T2,02060,58.753495988,-156.694662,~,Insufficient Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59089,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552,~,Insufficient Data
59090,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552,~,Insufficient Data
59091,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,338.4,"per 100,000 population","Age-adjusted, 3-year Average Rate",Gender,Overall,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552,NaN,NaN
59092,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,432.2,"per 100,000 population","Age-adjusted, 3-year Average Rate",Gender,Male,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552,NaN,NaN
59093,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",Gender,Female,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552,~,Insufficient Data

In [54]:
df_b.to_csv('Data/2018-2020_df.csv', index=False)

In [36]:
df.columns

Index(['locationid', 'year', 'locationabbr', 'locationdesc', 'geographiclevel',
       'datasource', 'class', 'topic', 'data_value_unit', 'data_value_type',
       'data_value_footnote_symbol', 'data_value_footnote',
       'stratificationcategory1', 'stratification1', 'stratificationcategory2',
       'stratification2', 'stratificationcategory3', 'stratification3',
       'topicid', 'x_long', 'y_lat', 'data_value', 'confidence_limit_low',
       'confidence_limit_high'],
      dtype='object')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 24 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   locationid                  1000000 non-null  object
 1   year                        1000000 non-null  object
 2   locationabbr                1000000 non-null  object
 3   locationdesc                1000000 non-null  object
 4   geographiclevel             1000000 non-null  object
 5   datasource                  1000000 non-null  object
 6   class                       1000000 non-null  object
 7   topic                       1000000 non-null  object
 8   data_value_unit             1000000 non-null  object
 9   data_value_type             1000000 non-null  object
 10  data_value_footnote_symbol  480018 non-null   object
 11  data_value_footnote         480018 non-null   object
 12  stratificationcategory1     1000000 non-null  object
 13  stratification1             1000000 non-null  object
 14  stratificationcategory2     1000000 non-null  object
 15  stratification2             1000000 non-null  object
 16  stratificationcategory3     1000000 non-null  object
 17  stratification3             1000000 non-null  object
 18  topicid                     1000000 non-null  object
 19  x_long                      1000000 non-null  object
 20  y_lat                       1000000 non-null  object
 21  data_value                  519982 non-null   object
 22  confidence_limit_low        519982 non-null   object
 23  confidence_limit_high       519982 non-null   object
dtypes: object(24)
memory usage: 183.1+ MB

In [38]:
# check missing values
df.isnull().sum()

locationid                         0
year                               0
locationabbr                       0
locationdesc                       0
geographiclevel                    0
datasource                         0
class                              0
topic                              0
data_value_unit                    0
data_value_type                    0
data_value_footnote_symbol    519982
data_value_footnote           519982
stratificationcategory1            0
stratification1                    0
stratificationcategory2            0
stratification2                    0
stratificationcategory3            0
stratification3                    0
topicid                            0
x_long                             0
y_lat                              0
data_value                    480018
confidence_limit_low          480018
confidence_limit_high         480018
dtype: int64

In [39]:
df = df.dropna(subset=['data_value'])

In [40]:
df = df.drop(columns=['geographiclevel', 'datasource', 'class', 'topic', 'data_value_footnote_symbol', 'data_value_footnote', 'stratificationcategory1', 'stratificationcategory2', 'stratificationcategory3', 'topicid'])
df

,locationid,year,locationabbr,locationdesc,data_value_unit,data_value_type,stratification1,stratification2,stratification3,x_long,y_lat,data_value,confidence_limit_low,confidence_limit_high
44,01001,2000,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,76.9,61.5,99.6
45,01001,2001,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,83.4,69,126.7
46,01001,2002,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,86.2,66.7,122.1
47,01001,2003,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,81.6,58.5,117
48,01001,2004,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,84.7,63.7,114.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,51053,2019,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Black,Overall,-77.63220543,37.0760146,334.5,272.5,459.4
999974,51053,2000-2010,VA,Dinwiddie,%,Total percent change,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-14,-39.8,14.8
999975,51053,2010-2019,VA,Dinwiddie,%,Total percent change,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-13,-34.6,20.1
999998,51053,2000,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Overall,Female,-77.63220543,37.0760146,433.1,342.3,525.8
999999,51053,2001,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Overall,Female,-77.63220543,37.0760146,453,347.3,557.2

In [41]:
column_names = {'stratification1': 'age_group', 'stratification2': 'race/ethnicityage_group', 'stratification3': 'sex'}
df = df.rename(columns=column_names)
df

,locationid,year,locationabbr,locationdesc,data_value_unit,data_value_type,age_group,race/ethnicityage_group,sex,x_long,y_lat,data_value,confidence_limit_low,confidence_limit_high
44,01001,2000,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,76.9,61.5,99.6
45,01001,2001,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,83.4,69,126.7
46,01001,2002,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,86.2,66.7,122.1
47,01001,2003,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,81.6,58.5,117
48,01001,2004,AL,Autauga,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,84.7,63.7,114.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,51053,2019,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Black,Overall,-77.63220543,37.0760146,334.5,272.5,459.4
999974,51053,2000-2010,VA,Dinwiddie,%,Total percent change,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-14,-39.8,14.8
999975,51053,2010-2019,VA,Dinwiddie,%,Total percent change,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-13,-34.6,20.1
999998,51053,2000,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Overall,Female,-77.63220543,37.0760146,433.1,342.3,525.8
999999,51053,2001,VA,Dinwiddie,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",Ages 65+ years,Overall,Female,-77.63220543,37.0760146,453,347.3,557.2

In [42]:
total_percent_df = df[df['data_value_type'] == 'Total percent change'] 
total_percent_df = total_percent_df.drop(columns=['data_value_type', 'data_value_unit'])
total_percent_df.reset_index(drop=True, inplace=True)
total_percent_df

,locationid,year,locationabbr,locationdesc,age_group,race/ethnicityage_group,sex,x_long,y_lat,data_value,confidence_limit_low,confidence_limit_high
0,01001,2000-2010,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,-7.5,-37.7,31.7
1,01001,2010-2019,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,2.6,-25.8,31.2
2,01001,2000-2010,AL,Autauga,Ages 35-64 years,Overall,Female,-86.64295911,32.53530561,17.1,-19.8,73.5
3,01001,2010-2019,AL,Autauga,Ages 35-64 years,Overall,Female,-86.64295911,32.53530561,8.3,-19.1,62.1
4,01001,2000-2010,AL,Autauga,Ages 35-64 years,Overall,Male,-86.64295911,32.53530561,19.7,-10.2,98
...,...,...,...,...,...,...,...,...,...,...,...,...
47295,51053,2010-2019,VA,Dinwiddie,Ages 35-64 years,Overall,Overall,-77.63220543,37.0760146,20.4,-9.6,62.2
47296,51053,2000-2010,VA,Dinwiddie,Ages 35-64 years,White,Overall,-77.63220543,37.0760146,-20.1,-47.7,50.3
47297,51053,2010-2019,VA,Dinwiddie,Ages 35-64 years,White,Overall,-77.63220543,37.0760146,32.6,-4.4,99.1
47298,51053,2000-2010,VA,Dinwiddie,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-14,-39.8,14.8
47299,51053,2010-2019,VA,Dinwiddie,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,-13,-34.6,20.1

In [43]:
smoothed_rate_df = df[df['data_value_type'] == 'Age-Standardized, Spatiotemporally Smoothed Rate']
smoothed_rate_df = smoothed_rate_df.drop(columns=['data_value_type', 'data_value_unit'])
smoothed_rate_df.reset_index(drop=True, inplace=True)
smoothed_rate_df

,locationid,year,locationabbr,locationdesc,age_group,race/ethnicityage_group,sex,x_long,y_lat,data_value,confidence_limit_low,confidence_limit_high
0,01001,2000,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,76.9,61.5,99.6
1,01001,2001,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,83.4,69,126.7
2,01001,2002,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,86.2,66.7,122.1
3,01001,2003,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,81.6,58.5,117
4,01001,2004,AL,Autauga,Ages 35-64 years,Black,Overall,-86.64295911,32.53530561,84.7,63.7,114.6
...,...,...,...,...,...,...,...,...,...,...,...,...
472677,51053,2017,VA,Dinwiddie,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,338.8,286,402.8
472678,51053,2018,VA,Dinwiddie,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,321.9,261.5,415.1
472679,51053,2019,VA,Dinwiddie,Ages 65+ years,Black,Overall,-77.63220543,37.0760146,334.5,272.5,459.4
472680,51053,2000,VA,Dinwiddie,Ages 65+ years,Overall,Female,-77.63220543,37.0760146,433.1,342.3,525.8
472681,51053,2001,VA,Dinwiddie,Ages 65+ years,Overall,Female,-77.63220543,37.0760146,453,347.3,557.2

In [44]:
total_percent_df.to_csv('Data/total_percent_df.csv', index=False)
smoothed_rate_df.to_csv('Data/smoothed_rate_df.csv', index=False)